.qr_content {
  border: 2px solid black;
  display: grid;
  grid-template-areas:
      "imagen1 imagen2"
      "imagen3 imagen4";
  gap: 0px !important; /* Espacio entre las imágenes */
  justify-content: center; /* Centrar en el eje horizontal */
}

.qr_content img {
  border: 0px solid blue;
  width: 100%; /* Ajustar el ancho de las imágenes al 100% del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
}

/* Asignar las áreas a las imágenes */
.qr_content img:nth-child(1) {
  grid-area: imagen1;
}

.qr_content img:nth-child(2) {
  grid-area: imagen2;
}

.qr_content img:nth-child(3) {
  grid-area: imagen3;
}

.qr_content img:nth-child(4) {
  grid-area: imagen4;
}

img{
  display: none;
}


/* Contenido de index.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px; /* Ajustar el tamaño de fuente base */
}

h1 {
  text-align: center;
  font-size: 32px; /* Ajustar el tamaño de fuente para los títulos */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul li {
  margin: 20px 0; /* Incrementar el espacio entre elementos de la lista */
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px 30px; /* Incrementar el relleno de los enlaces */
  border: 2px solid #fff;
  border-radius: 10px; /* Hacer los bordes de los enlaces más redondeados */
  display: inline-block;
}

ul li a:hover {
  background-color: #fff;
  color: #1a1a1a;
}

.qr_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Incrementar el espacio entre imágenes */
  justify-content: center;
  margin: 20px;
}

.qr_content img {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Hacer los bordes de las imágenes más redondeados */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Incrementar el tamaño de la sombra */
}

/* Estilo para dispositivos móviles */
@media (max-width: 600px) {
  ul li a {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .qr_content {
    grid-template-columns: 1fr;
  }
}

