#pista2{
  /* display: none; */
  transition: all 1s ease-in-out;
}


body{
  /*opacity: 1; */
  transition: all 1s ease-in-out;
}

.mostrar {
  opacity: 1;
}

.ocultar {
  opacity: 0;
  /*display: none;*/
}


/* Contenido de dia29.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 18px; /* Ajustar el tamaño de fuente base */
}

#pista1, #pista2 {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px; /* Hacer los bordes más redondeados */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Incrementar el tamaño de la sombra */
}

h1 {
  text-align: center;
  font-size: 24px; /* Ajustar el tamaño de fuente para los títulos */
}

p {
  text-align: center;
  font-size: 18px; /* Ajustar el tamaño de fuente para los párrafos */
}

.content {
  text-align: center;
}

input {
  width: 100%;
  padding: 15px; /* Incrementar el relleno del input */
  margin: 15px 0; /* Incrementar el espacio alrededor del input */
  border: 2px solid #fff;
  border-radius: 10px; /* Hacer los bordes del input más redondeados */
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  color: #1a1a1a;
  padding: 15px 30px; /* Incrementar el relleno del botón */
  border: 2px solid #fff;
  border-radius: 10px;
  display: inline-block;
}

.btn:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.ocultar {
  display: none;
}

a {
  display: block;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 30px; /* Incrementar el relleno del enlace */
  border-radius: 10px;
}

a:hover {
  background-color: #fff;
  color: #1a1a1a;
}

/* Estilo para dispositivos móviles */
@media (max-width: 600px) {
  #pista1, #pista2 {
    margin: 15px;
    padding: 15px;
  }
}

